<form class="form-inline" name="newExpenseForm" ng-show="showAddExpenseForm">
    <div class="form-group">
        <input type="text" placeholder="Category" class="form-control" ng-model="newExpense.category">
    </div>
    <div class="form-group">
        <input type="text" placeholder="Name" class="form-control" ng-model="newExpense.name">
    </div>
    <div class="form-group">
        <input type="number" placeholder="$ Cost" class="form-control" ng-model="newExpense.cost">
    </div>
    <div class="form-group">
        <input type="number" placeholder="Times Paid Annually" class="form-control"
               ng-model="newExpense.frequency">
    </div>
    <button ng-click="saveExpense(newExpense)" class="btn btn-success btn-s"><span
            class="glyphicon glyphicon-ok"></span></button>
</form>