
<table class="table table-responsive" id="tableExpenses">
    <tr>
        <th>Category</th>
        <th>Name</th>
        <th>Cost</th>
        <th>Total Cost</th>
        <th>Edit/Delete</th>
    </tr>
    <tr ng-repeat="expense in expenses">
        <td>{{expense.category}}</td>
        <td>{{expense.name}}</td>
        <td>{{expense.cost | currency}}</td>
        <td>{{expense.cost | currency}} x {{expense.frequency}} = {{expense.totalCost | currency}}</td>
        <td>
            <a ng-click="editExpense(expense)" class="btn btn-primary btn-s"><span
                    class="glyphicon glyphicon-pencil"></span></a>
            <button ng-click="deleteExpense(expense.id)" type="button"
                    class="btn btn-danger btn-s btn-separation-left"><span
                    class="glyphicon glyphicon-trash"></span></button>
        </td>
    </tr>
</table>