<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Expense</h4>
            </div>
            <div class="modal-body">
                <form name="editExpenseForm" class="form-horizontal">
                    <div class="form-group row">
                        <label for="editCategory" class="col-xs-3">Expense Category: </label>
                        <div class="col-xs-4">
                            <input type="text" id="editCategory" class="form-control"
                                   ng-model="editExpense.category" ng-required="true">
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="editName" class="col-xs-3">Expense Name:</label>
                        <div class="col-xs-4">
                            <input type="text" id="editName" class="form-control"
                                   ng-model="editExpense.name" ng-required="true">
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="editCost" class="col-xs-3">Expense Cost:</label>
                        <div class="input-group col-xs-3">
                            <div class="input-group-addon">$</div>
                            <input type="number" id="editCost" class="form-control"
                                   ng-model="editExpense.cost" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="editFrequency" class="col-xs-3">Frequency (times paid per
                            year):</label>
                        <div class="col-xs-4">
                            <input type="number" id="editFrequency" class="form-control"
                                   ng-model="editExpense.frequency" ng-required="true">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"
                        ng-click="editExpenseForm.$valid && saveExpense(editExpense)">Save changes
                </button>
            </div>
        </div>
    </div>
</div>