<div ng-controller="expenseController as expense">
<h4>{{expense.title}}</h4>
<form class="form-horizontal" name="expenseForm" novalidate>
    <div class="form-group">
        <div class="col-md-3">
            <label>Select An Expense Category</label>
        </div>
        <div class="col-md-3">
            <select class="form-control" ng-model="expense.expenseObj.category" required>
                <option ng-repeat="category in expense.categories" value="{{category}}">
                    {{category}}
                </option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <label>Please Enter The Expense Name</label>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" ng-model="expense.expenseObj.name" placeholder="Wholefoods, Rent, etc." required />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <label>How Much Does It Cost?</label>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="number" class="form-control" placeholder="0.00"
                       ng-model="expense.expenseObj.cost" required/>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <label>How Often Is It Paid?</label>
        </div>
        <div class="col-md-3">
            <input type="number" class="form-control" ng-model="expense.expenseObj.frequency" placeholder="1 (annually), 12 (monthly), etc." required />
        </div>
    </div>

    <button class="btn btn-info" ng-click="expenseForm.$valid && expense.save(expense.expenseObj)">Save</button>
    <button class="btn btn-warning" ng-click="expenses.cancel()">Cancel</button>


</form>
</div>