<!DOCTYPE html>
<html lang="en" ng-app="budgetApp">
<head>
    <meta charset="UTF-8">
    <title>Budget Calculator</title>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"
            integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular-route.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/taxCalculations.js"></script>

</head>
<body ng-controller="BudgetController">
<h1>{{title}}</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-7">
            <div id="salaryDiv">
                <salary-title></salary-title>
                <div ng-include="'includes/include-salary-form.html'"></div>

            </div>
            <div ng-if="showExpenseDiv">
                <h3>Expenses</h3>
                <div ng-include="'includes/include-expenses-table.html'"></div>
                <div ng-include="'includes/include-expenses-form.html'"></div>


                <!-- Modal -->
                <div ng-include="'includes/include-expenses-edit-modal.html'"></div>



                <a ng-click="addNewExpense()" ng-show="showAddExpenseButton"
                   class="btn btn-success pull-right button_new_expense" role="button"><span
                        class="glyphicon glyphicon-plus"></span> New
                    Expense</a>
            </div>


        </div>
        <div ng-include="'includes/include-budget.html'">
        </div>
    </div>
</div>




</body>
</html>